<form class='loginImportant' action='/login' method='post'>
  Important Information!
  We have changed the login process! Account names have been abolished. To log in, you only need your password and the
  account's email address.
  You have forgotten your email address but you still know the account name which had been used for your Shop account?
  Get your email address here:
  <a href='www.google.com'>
    Link
  </a>
</form>
{{#if messages.falseEntered}}
  <div class='alert alert-warning text-center  mt-3 mb-3' role='alert'>
    <h4 class="font-weight-bolder m-0">{{messages.failMessage}}</h4>
  </div>
{{/if}}
  <form id='signup' action='/login' method='POST'>
    <h1>
      Log In
    </h1>
    <p>
      Please enter your credentials to access to our Website
    </p>
    <hr />
    <label for='E-mail'>
      <b>
        E-Mail
      </b>
    </label>
    <input class='input' type='text' name='email' required />
    <label for='psswrd'>
      <b>
        Password
      </b>
    </label>
    <input 
    class="input"
      type='password'
      name='password'
      required
    />
     {{!-- <a href='/passwordRecovery' class='buttons-submit' type='submit'>
      Forgot Password?
    </a> --}}
    
    <button class='buttons' type='submit'>
      Submit
    </button>
   
{{!--     
     <a href='/register' class='buttons-submit' type='submit'>
      Not Register yet!
    </a> --}}

    
    {{!-- <p class="mt-3">
      By cliking the Submit Button you agree to
      <a href='#'>
        Terms & Conditions
      </a>
      and
      <a href='#'>
        Privacy Policy
      </a>
    </p> --}}
  </form>
