<div class="formStyle">

{{#if message.isMailTaken}}
<div class='alert alert-warning text-center  mt-3 mb-3' role='alert'>
  <h4 class="font-weight-bolder m-0">{{message.takenMessage}}</h4>
</div>
{{/if}}
  <div class="title">
    <h1>Sing in </h1>
    <i class="fas fa-sign-in-alt fa-2x"></i>
  </div>
  <br>
  {{!-- sign Up form --}}
  
  <form action="/register" method="POST" class="row g-3">
    <div class="col-md-6 ">
      <label for="inputEmail4" class="form-label">Email</label>
      <input type="email" class="form-control" id="inputEmail4" name="email" placeholder="johndoe@mail.com" required />
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Password</label>
      <input type="text" class="form-control" id="inputPassword4" name="password" placeholder="******" minlength="6"
        required />
    </div>
    <div class="col-6">
      <label for="inputName" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="John Doe" required/>
    </div>
    <div class="col-md-6">
      <label for="inputCountry" class="form-label">Country</label>
      <input type="text" class="form-control" id="inputCountry" name="country" required/>
    </div>
    <div class="col-md-6">
      <label for="inputAdress" class="form-label">Adress</label>
      <input type="text" class="form-control" id="inputAdress" name="address" required />
    </div>
    <div class="col-md-12 ">
      <label for="inputSalary" class="form-label">Salary</label>
      <input type="number" class="form-control" id="inputSalary" name="salary"  required/>
    </div>
    <div class="col-md-12 mt-3">
      <label for="inputRole" class="form-label">Role</label>
      <select class="form-select" aria-label="Default select example" name="role" required>
        
        <option value="administrator" selected>administrator</option>
        <option value="employee">employee</option>
      </select>
    </div>
    <div class="col-sm-12 mt-2 mb-4">
      <button style="width: 190px;" type="submit" class="btn btn-primary">Sign in</button>
    </div>
  </form>
</div>